@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
}

html {
    font-size: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    column-gap: 28px;
    align-items: center;
}

a {
    cursor: url(../images/cursor.cur), pointer;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top {
    background-color: #1f1f56;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.main-menu {
    padding: 20px 0;
}

.menu a {
    color: #b1b1d2;
}

.menu a:hover {
    color: #fd8300;
}

.hat {
    padding: 27px 0;
}

.contact,
.adress {
    padding-left: 29px;
    box-sizing: border-box;
}

.menu ul {
    min-width: 480px;
    letter-spacing: 2px;
    font: 1.4rem/1.7em "Arial";
}

.order {
    text-align: right;
}

.order a:hover {
    background-color: #fd8300;
    
    box-shadow: inset 5px 5px 8px rgba(247, 196, 121, 0.842),
    inset -5px -5px 8px 5px rgba(150, 81, 9, 0.7),
    5px 8px 5px rgba(236, 125, 6, 0.5);
}

.order a {
    text-decoration: none;
    color: #25252c;
    font: bold 1.6rem/1.5em "Arial";
    padding: 12px 25px;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    box-shadow: inset 5px 5px 6px rgba(247, 196, 121, 0.842),
    inset -5px -5px 8px 5px rgba(236, 216, 194, 0.5);
    border-color: #fd8300;
    border-radius: 25px;
    text-decoration: none;
    
}

.mail {
    color: #25252c;
    font: 1.6rem/1.5em "Arial";
    position: relative;
}

.mail::before {
    content: "";
    position: absolute;
    background: url(../images/email.png) no-repeat;
    display: inline-block;
    width: 18px;
    height: 13px;
    left: -28px;
    top: 1px;
}

.mail:hover {
    text-decoration: underline;
}

.skype {
    color: #25252c;
    font: 1.6rem/1.5em "Arial";
    position: relative;
}

.skype::before {
    content: "";
    position: absolute;
    background: url(../images/skype.png) no-repeat;
    display: inline-block;
    width: 19px;
    height: 19px;
    left: -28px;
    top: 1px;
}

.skype:hover {
    text-decoration: underline;
}

.tel {
    color: #25252c;
    font: bold 1.8rem/1.33em "Arial";
}

.tel1 {
    position: relative;
}

.tel1:before {
    content: "";
    background: url(../images/phone.png) no-repeat;
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: -28px;
    top: 1px;
}

.tel:hover {
    text-decoration: underline;
}

.social {
    min-width: 100px;
}

.social a {
    display: block;
    background-image: url(../images/sprite.png);
}

.fb {
    height: 19px;
    width: 10px;
    background-position: 0 0;
}

.fb:hover {
    background-position: 0 -22px;
}

.tw {
    height: 15px;
    width: 18px;
    background-position: -12px 1px;
}

.tw:hover {
    background-position: -12px 28px;
}

.inst {
    height: 19px;
    width: 19px;
    background-position: -31px 49px;
}

.inst:hover {
    background-position: -31px 28px;
}



.proposition {
    padding: 40px 0 20px;
    text-align: center;
    background-image: url(../images/main_photo1.png);
    background-size: cover;
    background-position: right;
}

.prop1 {
    margin: 9px 0;
    font: 700 3.0rem "Roboto Slab", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
}

.prop2 {
    margin: 8px 0;
    color: #ffffff;
    font: 1.4rem/1.7em "Arial";
}

.prop3 {
    margin: 8px 0;
    color: #fd8300;
    font: bold 4.0rem "Arial";
}

.prop3 .size {
    font-size: 2.4rem;
}

sup {
    font-size: 0.7em;
}

.about {
    padding: 40px 0 45px 0;
    align-items: stretch;
}

h1 {
    margin-bottom: 20px;
    color: #24242b;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}

.text p {
    color: #666666;
    font: 1.4rem/1.7em "Arial";
}


.prices_wrapper {
    margin: 27px 0;
}

table.prices {
    border-collapse: collapse;
    width: 100%;
}

.prices th {
    padding: 12px 20px;
    text-align: left;
    color: #ffffff;
    font: 700 1.4rem "Roboto Slab";
    background-color: #1f1f56;
}

.prices td {
    padding: 12px 20px;
    color: #666666;
    font: 1.4rem "Arial";
    background-color: #e4e4ec;
}

.prices tr:not(:last-child) td {
    border-bottom: 1px solid #cecedd;
}

.prices td:last-child,
.prices th:last-child {
    text-align: right;
}

.prices th:first-child {
    border-radius: 3px 0 0 0;
}

.prices th:last-child {
    border-radius: 0 3px 0 0;
}

.prices tr:last-child td:last-child {
    border-radius: 0 0 3px 0;
}

.prices tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}

.prices tr:hover td {
    color: #ffffff;
    background-color: #fd8300;
}

.conditions {
    font: 1.3em/1.6rem "Arial";
       line-height: 21px;
    color: #666666;
}

.details { 
margin-top: 20px;
} 

.details a:hover {
    text-decoration: underline;
}

.details a {
    font: bold 1.4rem/1.7em "Arial";
    color: #fd8300;
    }


h2 {
    color: #24242b;
    font: 700 2.4rem/1em "Roboto Slab", Arial, Helvetica, sans-serif;
    padding: 30px 0 30px 0;
}

.popular a {
    color: #1f1f56;
    font: 700 2.4rem/1em "Arial";
}

.popular a:hover {
    text-decoration: underline;
}

.cottage h3 {
    color: #1f1f56;
    font: 700 1.4rem/1em "Arial";
}

.cottage:hover h3 {
    text-decoration: underline;
}

.cottage {
    position: relative;
}

.cottage a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cottage p {
    margin: 4px 0;
    color: #9999a6;
    font-family: 1.3rem/1.38em "Arial";
}

.list>ul>li:hover>.dropdown,
.list>ul>li>.dropdown>li:hover .dropdown {
    display: block;
}

.dropdown a:hover {
    background-color: #cecedd;
}

.list {
    position: sticky;
    top: 15px;
}

.list li {
    background-color: #e3e3eb;
    font-size: 14px;
}

.list>ul>li:last-child {
    border-radius: 0 0 3px 3px;
}

.list li a {
    display: block;
    padding: 17px 16px 13px 16px;
    color: #25252c;
    font: 1.4rem/1em "Arial";
}

.list>ul>li>a {
    position: relative;
    border-top: 1px solid #cdcddd;
}

.list>ul>li>a:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 25px;
    height: 6px;
    width: 6px;
    border-right: 1px solid #666666;
    border-top: 1px solid #666666;
    transform: rotate(45deg);
    transition: transform 0.5s ease;
}

.dropdown {
    display: none;
}

.list>ul>li>a:hover {
    color: white;
    background-color: #fd8300;
}

.list>ul>li>a:hover::after {
    border-color: #ffffff;
    transform: rotate(135deg);
    transition: transform 0.5s ease;
}

.list p {
    margin: 0;
    padding: 17px 15px 13px 16px;
    font: 700 1.6rem/1.5em "Roboto Slab", Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #1f1f56;
    border-radius: 3px 3px 0 0;
}

.column {
    min-width: 219px;
    width: 22.5%;
}

.footermenu a {
    color: #666666;
    font: 1.4rem/1.86em "Arial";
}

.footermenu a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.thelast {
    padding: 15px 0 15px 0;
    text-align: center;
    color: #9999a6;
    font-family: 1.3rem/1.38em "Arial";
    background-color: #dcdce6;
}

.last {
    padding: 30px 0;
    background-color: #ededf4;
}